/*
	section start
*/
.section {
    min-height: 100vh;
    padding: 5rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 0 0 2.1875rem 0;
    font-size: 4.5rem;
    width: 100%;
}

.subtitle {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0 0 1.5625rem 0;
    width: 100%;
    float: left;
}

.content {
    margin: 0 0 1.5625rem 0;
    font-size: 1.375rem;
    float: left;
}

@media screen and (max-width: 72em) {
    .section {
        padding: 5rem 1rem;
        min-height: 50vh;
    }
    .title {
        font-size: 3.5rem;
    }
    .subtitle {
        font-size: 1.5rem;
    }

    .content {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 48em) {
    .title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.375rem;
    }

    .content {
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 30em) {
    .title {
        font-size: 2.5rem;
    }

    .subtitle {
        font-size: 1.25rem;
    }

    .content {
        font-size: 1rem;
    }
}
/*
section end
*/

.video {
    width: 80%;
    height: auto;
    min-height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.video-container {
    text-align: center;
}
.title-container {
    margin: 135px;
    position: relative;
    height: 35vh;
    overflow: hidden;
}
.main-title {
    color: transparent;
    text-shadow: 0 0 15px #49111c;
    font-family: "IANSUI";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 4em;
    text-align: center;

    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 100%;

    z-index: 2;

    animation: horror-animation 10s infinite;
}

span {
    font-size: 0.4em;
}

@keyframes horror-animation {
    0% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 51%;
        top: 36%;
    }
    5% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 50%;
        top: 35%;
    }
    10% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 49%;
        top: 34%;
    }
    15% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 50%;
        top: 35%;
    }
    16% {
        text-shadow: 0 0 5px #212121;
        left: 50%;
    }
    17% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 50%;
    }
    20% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 49%;
    }
    25% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 49%;
    }
    30% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 50%;
    }
    35% {
        text-shadow: 0 0 5px #f3f3ec;
        left: 50%;
    }
    36% {
        text-shadow: 0 0 5px #212121;
        left: 50%;
    }
    37% {
        text-shadow: 0 0 5px #f3f3ec;
        left: 50%;
    }
    40% {
        text-shadow: 0 0 5px #f3f3ec;
        left: 51%;
    }
    45% {
        text-shadow: 0 0 5px #f3f3ec;
        left: 51%;
    }
    50% {
        text-shadow: 0 0 5px #f3f3ec;
        left: 51%;
    }
    55% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 50%;
    }
    56% {
        text-shadow: 0 0 5px #212121;
        left: 50%;
    }
    57% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 52%;
    }
    60% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 50%;
    }
    65% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 50%;
    }
    70% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 49%;
    }
    75% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 49%;
    }
    76% {
        text-shadow: 0 0 5px #212121;
        left: 50%;
    }
    77% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 49%;
    }
    80% {
        text-shadow: 0 0 5px #f3f3ec;
        left: 49%;
    }
    85% {
        text-shadow: 0 0 5px #f3f3ec;
        left: 51%;
    }
    86% {
        text-shadow: 0 0 5px #212121;
        left: 50%;
    }
    90% {
        text-shadow: 0 0 5px #f3f3ec;
        left: 51%;
    }
    95% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 51%;
    }
    97% {
        text-shadow: 0 0 5px #f3f3ec;
        left: 51%;
    }
    100% {
        text-shadow: 0 0 10px #f3f3ec;
        left: 50%;
    }
}
.caution-tape {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    transform: rotate(-10deg);
    background: repeating-linear-gradient(
        135deg,
        #e5a404,
        #ebd007 30px,
        #555 30px,
        #555 60px
    );
    height: 50px;
    z-index: 1;
    opacity: 0.7;
}
.caution-tape-2 {
    opacity: 0.7;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    transform: rotate(15deg);
    background: repeating-linear-gradient(
        135deg,
        #e5a404,
        #ebd007 30px,
        #555 30px,
        #555 60px
    );
    height: 50px;
    z-index: 0;
}

.title-bg {
    background-color: #f2f4f3;
    filter: blur(8px);
}
.title-box {
    position: absolute;
    margin-top: 25px;
    position: relative;
    min-height: 30vh;
    text-align: center;
}

@media screen and (max-width: 72em) {
    .video {
        align-items: center;
        min-height: 50vh;
        width: 80%;
    }
    .frame {
        height: auto;
    }
    .title-box {
        min-height: 35vh;
        height: 35vh;
    }
}

/* Typing Effect */

.output {
    margin-top: 50px;
    min-height: 15vh;
    font-size: 1.2rem;
    color: #f2f4f3;
}
.out-content {
    font-weight: bold;
}

.cursor::after {
    content: "";
    display: inline-block;
    margin-left: 3px;
    background-color: #f2f4f3;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
h1.cursor::after {
    height: 28px;
    width: 15px;
}
p.cursor::after {
    height: 15px;
    width: 8px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Event */
.event-container {
    width: 100%;
    padding: 2rem 0;
}

.event-titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.event-title {
    background-color: #0a0908;
    color: #49111c;
    padding: 1.2rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    flex: 1;
    margin: 0 0.5rem;
    border-radius: 10px 10px 0 0;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-title:hover,
.event-title.active {
    background-color: #111111;
    transform: translateY(-5px);
}

.event-contents {
    background-color: #212121;
    border-radius: 0 0 10px 10px;
    padding: 1rem;
    min-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-content {
    display: none;
    width: 100%;
    color: #f2f4f3;
}

.event-content.active {
    display: block;
}

@media screen and (max-width: 768px) {
    .event-titles {
        flex-direction: column;
    }

    .event-title {
        margin: 0.5rem 0;
        font-size: 1.2rem;
        padding: 1rem;
    }
}

.drive-box {
    height: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1rem 0 2rem 0;
}
.dept-fees {
    height: 55rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 1rem 0 0 0;
}

.timetable-container {
    height: 250px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 35px;
}

.timetable {
    margin-bottom: 35px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
